@page
@model WebApplication1.Views.Home.Confirmation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Movie Submission Received. Thank you.</h2>
</div>
</body>
</html>